DirectoryIndex home.php

RewriteEngine On

<ifmodule mod_gzip.c>      
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include mime ^text/.*
mod_gzip_item_include mime ^application/javascript
mod_gzip_item_include mime ^application/xm.*
mod_gzip_item_include mime ^image/svg.*
mod_gzip_item_include mime ^application/(x-)?font-.*                  
</ifmodule>

<ifmodule mod_deflate.c>
AddType text/css .css
AddType text/javascript .js
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css image/png image/gif image/ico application/javascript application/x-javascript  
</ifmodule>

<FilesMatch "(?i)^.*\.(pdf|ico|flv|jpg|jpeg|png|gif|js|css|doc|html|woff|wtf)$">
#Header unset Last-Modified
#Header set Expires "Mon, 9 Dec 2013 00:00:00 GMT"
Header set Cache-Control "public, no-transform"
SetOutputFilter DEFLATE
FileETag None
</FilesMatch>

# RewriteRule ^/?home$ http://www.firkinpubs.com [L,R=301]
RewriteRule ^/?home$ http://www.firkinpubs.com/ [L,R=301]
RewriteRule ^/?our_chef$ http://www.firkinpubs.com/burgers [L,R=301]
RewriteRule ^(/?brews[%].*)$ http://www.firkinpubs.com/brews [L,R=301]

RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# if directory exist, redirect to that directory with a trailing /
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^([^/]+)$ $1/ [NC,L]

# if requested file doesn't exist, redirect to *.php if that php file exists
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# if requested url is *.php, redirect to homepage
#RewriteCond %{REQUEST_URI} ^((.*)(\.php))$
RewriteCond %{THE_REQUEST} ^((.*)(\.php)(.*))$
RewriteRule ^((.*)(\.php))$ http://www.firkinpubs.com [L,R=301]

# if requested url is not valid, redirect to homepage
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^((\/)?[^\/]+)$ http://www.firkinpubs.com [L,R=301]

ExpiresActive On
ExpiresByType image/gif A2592000
ExpiresByType image/jpeg A2592000
ExpiresByType image/jpg A2592000
ExpiresByType image/png A2592000
ExpiresByType image/x-icon A2592000
ExpiresByType application/x-javascript A1209600
ExpiresByType text/javascript A1209600
ExpiresByType application/javascript A1209600
ExpiresByType text/css A31536000
ExpiresByType font/ttf A2592000
ExpiresByType font/otf A2592000
ExpiresByType font/x-woff A2592000
ExpiresByType application/x-font-woff A2592000
ExpiresByType application/x-shockwave-flash A2592000