<footer>
	<div class="footer-table">
		<div class="footer-row">
			<div class="footer-cell">
				<div class="firkin-info">
					<h4>The Firkin Group of Pubs</h4>
					<p>20 Steelcase Rd W. Unit 1C<br>
						Markham, ON<br>
						L3R 1B2<br>
						<a href="tel:9053059792">(905) 305-9792</a></p>
				</div>
			</div>
			<div class="footer-cell right">
				<div>
					<div class="footer-table">
						<div class="footer-row">
							<div class="footer-cell social-media">
								<a href="https://www.facebook.com/firkinpubs" target="_blank">
									<i class="fa fa-facebook"></i>
								</a>
								<a href="https://twitter.com/FirkinPubs" target="_blank">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="https://www.instagram.com/firkinpubs/" target="_blank">
									<i class="fa fa-instagram"></i>
								</a>
							</div>
							<div class="footer-cell">
								<a href="http://www.unoapp.com/app" target="_blank">
									<img src="img/login.jpg" alt="Firkin Group of Pubs Login" class="login">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>